<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CleanArchitecture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CleanArchitectureAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CleanArchitectureCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CleanArchitectureiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A30A3D5A2E8CE32A004E0CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30A3D6C2E8CE69F004E0CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A340D07C2E684A580062F463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A346F6862E4AF98A004C768B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A346F68F2E4AF98A004C768B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3DBEDE42E6EA4AB003D1E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3DBEDEC2E6EA4AB003D1E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3FF09D52E56E4AF0088CEFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
